/** @format */

.commentItem {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 90%;
  box-shadow: 2px 2px 2px black;
  margin: 15px 10px 15px 10px;
}

.commentItem :first-child {
  justify-self: flex-start;
  width: auto;
}

.commentItem :last-child {
  justify-self: flex-end;
  width: auto;
}
