.restoCard{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid black 1px;
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 290px;
    height: auto;
    padding-left: auto;
    padding-right: auto;
}

.comment-section{
    display: flex;
    align-self: center;
    flex-direction: column;
    border: solid blue 1px;
}