.restoCard{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid black 1px;
    margin: 0.5rem 1rem 0.5rem 1rem;
    width: 70%;
    padding-left: 2em;
    padding-right: 2em;
}

.comment-section{
    display: flex;
    flex-direction: column;
    border: solid blue 1px;
}