.newRestoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    height: 100%;
}

.formStyle{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.submitForm{
    border-radius: 50%;
    font-size: large;
}

.close{
    align-self: flex-start;
    height: 30px;
    width: 30px;
}