.marker{
    transition:all 0.2s;
}


.text-marker-resto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-40%, -75%);
    font-weight: bold;
}
.marker:hover {
    transform: scale(1.2);
    z-index: 1120;
}

.user{
    transition:all 0.2s;
    z-index : 5000;
}

.text-marker-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-40%, -75%);
    font-weight: bold;
    color: red;
}