
.Header{
  grid-area: Header;
 align-self: center;
 text-align: center;
 background-color: azure;
 };

.Restos {
  grid-area: Restos;
  height: 100vh;
  overflow: scroll;  
 }
 

 
.Map{
   grid-area: Map;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 }
 
 .RestoCard {
  width: 150px;
  height: 150px;
  border: solid black 1px;
}
 .App{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: auto;
   grid-template-areas: 
   " Header Header"
   " Restos Map";
   
 };
 
 .entireRestoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.comment-section{
  display: flex;
  width: 100%;
  height: 290px;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}